html,
body {
    width: 190mm;
    height: 277mm;
    --card: #3C94FF;
    --vertical: #85cb88;
    --dihedral: #74ceff;
    --roof: #ff91ce;
    --slab: #c0abff;
    --overhang: #ff6e6e;
    --chimney: #ffb247;

}

body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}

#printable-area {
    line-height: 0;

    .hold {
        page-break-inside: avoid;
        break-inside: avoid;
        page-break-after: auto;
        width: 63mm;
        height: 41mm;
    }
}

#templates {
    display: none;
}

#printable-area {
    display: flex;
    flex-wrap: wrap;
}

.card-stroke {
    stroke: var(--card);
}

.card-fill {
    fill: var(--card);
}

[class^="hold-"] {
    display: none;
}

[data-hold="jug"] .hold-jug,
[data-hold="flake"] .hold-flake,
[data-hold="horn"] .hold-horn,
[data-hold="pocket"] .hold-pocket,
[data-hold="crimp"] .hold-crimp,
[data-hold="slopper"] .hold-slopper,
[data-hold="tufa"] .hold-tufa,
[data-hold="crack"] .hold-crack {
    display: block;
}

[data-profile="vertical"] {
    .profile-color {
        fill: var(--vertical);
    }

    .profile-name {
        color: var(--vertical);
    }
}

[data-profile="dihedral"] {
    .profile-color {
        fill: var(--dihedral);
    }

    .profile-name {
        color: var(--dihedral);
    }
}

[data-profile="roof"] {
    .profile-color {
        fill: var(--roof)
    }

    .profile-name {
        color: var(--roof)
    }
}

[data-profile="slab"] {
    .profile-color {
        fill: var(--slab)
    }

    .profile-name {
        color: var(--slab)
    }
}

[data-profile="overhang"] {
    .profile-color {
        fill: var(--overhang)
    }

    .profile-name {
        color: var(--overhang)
    }
}

[data-profile="chimney"] {
    .profile-color {
        fill: var(--chimney)
    }

    .profile-name {
        color: var(--chimney)
    }
}


@page {
    size: A4;
    margin: 10mm;
}