html,
body {
    width: 190mm;
    height: 277mm;
}

body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}

#printable-area {
    line-height: 0;

    .hold {
        page-break-inside: avoid;
        break-inside: avoid;
        page-break-after: auto;
        width: 63mm;
        height: 41mm;
    }
}

#templates {
    display: none;
}

#printable-area {
    display: flex;
    flex-wrap: wrap;
}

.card-stroke {
    stroke: #3C94FF;
}

.card-fill {
    fill: #3C94FF;
}

[class^="hold-"] {
    display: none;
}

[data-hold="jug"] .hold-jug,
[data-hold="flake"] .hold-flake,
[data-hold="horn"] .hold-horn,
[data-hold="pocket"] .hold-pocket,
[data-hold="crimp"] .hold-crimp,
[data-hold="slopper"] .hold-slopper,
[data-hold="tufa"] .hold-tufa,
[data-hold="crack"] .hold-crack
 {
    display: block;
}
[data-profile="vertical"] {
     .profile-color { fill: #63d967; }
     .profile-name { color: #63d967; }
}
[data-profile="dièdre"] .profile-color { fill: #74ceff; }
[data-profile="toit"] .profile-color { fill: #ff47ac; }
[data-profile="dalle"] .profile-color { fill: #6734ff; }
[data-profile="dévers"] .profile-color { fill: #eb1313; }
[data-profile="cheminée"] .profile-color { fill: #ffb247; }


@page {
    size: A4;
    margin: 10mm;
}